html{
    scroll-behavior: smooth;
}
body{
    background: rgba(0,0,0,0.5) url("background/bg09.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    box-sizing: border-box;
    position: relative;
}
a,h1,h2,p,span{
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .5);
}
.main{
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}
.word{
    font-family: sans-serif;
    position: absolute;
    bottom: calc(50% - 1.5em);
    left: 0;
    right: 0;
    text-align: center;
}
.word span{
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;
}
.down{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.down a{
    font-size: 50px;
    margin: auto;
    display: block;
    animation: down 2s infinite;
}

.menu{
    box-sizing: border-box;
    height: 100vh;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.col{
    height: 20%;
    margin-bottom: 40px;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),0 0 20px rgba(3, 232, 244, 0.7) inset;
    align-items: center;
    padding: 20px 30px;
    transition: .3s;
}

.col:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7),0 0 20px rgba(3, 232, 244, 0.7) inset,0 0 50px rgba(3, 232, 244, 0.7) inset;
    transform: translateX(-20px);
}

.col i{
    font-size: 40px;
    margin: 10px;
}
.col h2{
    font-size: 25px;
}

.footer{
    text-align: center;
    font-size: 1em;
}

@keyframes down {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
        color: rgba(189, 189, 189, 0.5);
    }
}